/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "Manrope", sans-serif;
  font-size: 0.8125rem;
  background-color: hsl(210, 46%, 95%);
}

main {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin: 1.5rem;
}

.text-wrapper {
  padding: 10% 9% 5% 9%;
}

.card__bg-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card__heading {
  font-size: 1rem;
  color: hsl(217, 19%, 35%);
  margin-bottom: 1rem;
}

.card__text {
  color: hsl(214, 17%, 51%);
  margin-bottom: 2rem;
  margin-right: 0.8rem;
}

.author-wrapper {
  display: flex;
}

.author {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.author .author__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1rem;
}
.author .author__name {
  color: hsl(217, 19%, 35%);
  font-weight: 700;
}
.author .author__date {
  color: hsl(212, 23%, 69%);
  font-weight: 400;
}
.author .share-btn {
  margin-left: 20%;
  border: none;
  border-radius: 50%;
  width: 33px;
  height: 33px;
  background-color: hsl(210, 46%, 95%);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.author .share-btn:hover {
  background-color: hsl(214, 17%, 51%);
}
.author .share-btn:hover img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(150%) contrast(100%);
}
.author .share-btn img {
  pointer-events: none;
  padding-left: 4px;
  width: 20px;
  transition: all 0.3s ease-in-out;
}

.socials {
  display: none;
  background-color: hsl(217, 19%, 35%);
  justify-content: space-around;
}
.socials a {
  margin: 7% 0.5rem;
}
.socials .socials__share-link {
  text-decoration: none;
  color: hsl(212, 23%, 69%);
  letter-spacing: 5px;
  margin-left: 2rem;
}

/*# sourceMappingURL=style.css.map */
